ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    text-align: center;
    padding: 0.1em 1em;
    color: blue;
}

ul.navbar li:hover {
    border: 1px solid blue;
}

ul.navbar li:not(hover) {
    border: 1px solid white;
}

a.navigation {
    display: block;
}

table {
    border-collapse: collapse;
}

table.list tr:first-child {
    border-top: 2px solid black;
}

table.list th {
    border-bottom: 1px solid grey;
}

table.list tr:last-child {
    border-bottom: 2px solid black;
}

table.list tr th {
    background-color: white;
}

table.list tr:nth-child(odd) {
    background-color: #ddd;
}

table.list tr:nth-child(odd):hover {
    background-color: #aee;
}

table.list tr:nth-child(even):hover {
    background-color: #eea;
}

table.list td {
    padding-left: 0.1em;
    padding-right: 0.1em;
}

div.tickets {
    display: grid;
    grid-template-columns: 38vw 10vw 38vw 10vw;
    margin-left: auto;
    margin-right: auto;
}

div.tickets > div.ticket-left-col > div:nth-child(1) {
    margin-top: auto;
    margin-bottom: 0px;
}

div.tickets > div.ticket-left-col > div:nth-child(2) {
    margin-top: auto;
    margin-bottom: auto;
}

div.tickets > div.ticket-left-col > div:nth-child(3) {
    margin-top: auto;
    margin-bottom: 0px;
    font-weight: bold;
}

div.tickets > div.ticket-left-col > div:nth-child(4) {
    margin-top: 0px;
    margin-bottom: auto;
    font-variant-caps: small-caps;
}

div.tickets > div.ticket-left-col {
    display: grid;
    grid-template-rows: auto auto auto auto;
    padding-left: 0.6cm;
}

div.tickets > div > img {
    width: 95%;
    position: relative;
    left: -0.6cm;
    top: 50%;
    transform: translateY(-50%);
}

div.ticket-heading {
    padding-top: 1ex;
    font-weight: bold;
    font-size: larger;
}

@media print {
    div.tickets {
        grid-template-columns: 7cm 2.5cm 7cm 2.5cm;
        page-break-after: auto;
        page-break-before: avoid;
        border-top: dimgray dashed 0.05cm;
    }
    div.tickets > div.ticket-left-col {
        page-break-inside: avoid;
        page-break-after: auto;
        page-break-before: avoid;
        grid-template-rows: 1cm 1cm 1cm 1cm;
    }
    div.tickets > div {
        border-bottom: dimgray dashed 0.05cm;
    }
    div.tickets > div.ticket-left-col:nth-child(4n+3) {
        border-left: dimgray dashed 0.05cm;
    }
    div.no-print-page-break {
        page-break-inside: avoid;
        page-break-after: avoid;
    }
}

.payment-not-ok {
    color: red;
    font-style: italic;
}
