ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    text-align: center;
    padding: 0.1em 1em;
    color: blue;
}

ul.navbar li:hover {
    border: 1px solid blue;
}

ul.navbar li:not(hover) {
    border: 1px solid white;
}

a.navigation {
    display: block;
}

table {
    border: 0px;
}

tr th {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #ddd;
}

td {
    padding-left: 0.1em;
    padding-right: 0.1em;
}
